<div class="details-container">
    <div class="item">
        <p>
            Name:
            <b>{{details.Name}}</b>
        </p>
        <p>
            Title:
            <b>{{details.Title}}</b>
        </p>
        <p>
            Contact:
            <ul>
                {{#each contacts as |contact|}}
                <li>
                    <b>{{contact.type}}:</b>
                    {{contact.value}}
                </li>
                {{/each}}
            </ul>
        </p>
    </div>
</div>